
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --primary-color: rgba(10, 235, 140, 1);
    --secondary-color: rgba(210, 255, 236, 1);
    --header-color: rgba(5, 42, 45, 1);
    --fotter-color: rgba(21, 24, 23, 1);
    --body-color: rgba(32, 31, 34, 1);
    --input-grey: rgba(206, 206, 206, 1);
    --grey-button: rgba(58, 57, 62, 1);
}

* {
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}


body{
    width: 100%;
    height: 100%;
    margin-left: 0;
    margin-top: 0;
    background-color:var(--body-color) ;
}

.header_container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    background-color: var(--primary-color);
    height: 64px;
    z-index: 100;
}

.footer_container {
    position: absolute;
    bottom: 0;
    padding: 10px 15px;
    background-color: var(--fotter-color);
    height: 64px;
    width: 100%;
    color: var(--primary-color);
}

.footer_container h3 {
    font-weight: 100;
    font-size: 14px;
}

.section_form{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
}

.form_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 360px;
    gap: 20px;
}


.register_form_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 700px;
    gap: 20px;
    margin-top: 100px;
}

.form_container h2,
.register_form_container h2 {
    color: white;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 0;
}

.form_container input,
.register_form_container input {
    border: 1px solid var(--input-grey);
    border-radius: 5px;
    padding: 10px 20px;
    width: 100%;
    box-shadow: 2px 7px 19px -12px rgba(0,0,0,0.92);
}

.form_container input:focus,
.register_form_container  input:focus {
    outline: none;
    border: 1px solid var(--primary-color)
}

.register_form_container h3 {
    margin-top: 0;
}
.register_form_container p {
    margin-bottom: 2px;
}

.password_container{
    position: relative;
    width: 100%;
}

.password_icon{
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
}

.flex_container{
    display: flex;
    gap: 30px;
    margin-top: 10px;

}

.grid_container{

    /* display: grid; */
    /* grid-template-columns: repeat(1, 2fr); */
    /* grid-template-rows: repeat(4, 1fr);  */
    /* grid-column-gap: 40px; */
    /* grid-row-gap: 25px; */
}
.InputText{
    width: 100%;
}


.input_container h3{
    font-size: 12px;
    color: white;
    font-weight: 100;
}

.recover_password{
    background-color: transparent;
    color: white;
    font-style: italic;
    cursor: pointer;
}

.button_responsive {
    background-color: var(--primary-color);
    border-style: none;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    padding: 10px 20px;
    color: black;
    box-shadow: 2px 7px 19px -12px rgba(0,0,0,0.92);
    width: 100%;
}

.button_responsive:hover {
    color: var(--primary-color);
    background-color: var(--body-color);
    border-color: var(--primary-color);
    cursor: pointer;
}
.button_input_grey {
    background-color: var(--input-grey);
    border-style: none;
    border: 1px solid var(--input-grey);
    border-radius: 5px;
    padding: 10px 20px;
    color: black;
    width: 100%;
    box-shadow: 2px 7px 19px -12px rgba(0,0,0,0.92);
}

.button_input_grey:hover {
    color: var(--input-grey);
    background-color: var(--body-color);
    border-color: var(--input-grey);
    cursor: pointer;
}

.button_grey {
    background-color: var(--body-color);
    border-style: none;
    border: 1px solid var(--body-color);
    border-radius: 5px;
    padding: 10px 20px;
    color: white;
    width: 100%;
    box-shadow: 2px 7px 19px -12px rgba(0,0,0,0.92);
}

.button_grey:hover{
    color: var(--body-color);
    background-color: var(--secondary-color);
    border-color: var(--body-color);
    cursor: pointer;
}

.register_ok{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 370px;
    color: white;
}

.register_ok h1{
    font-size: 50px;
    font-weight: 400;
}

.register_ok p{
    font-size: 16px;
    font-weight: 300;
    text-align:center;
    margin: 25px 10px;
}

@media screen and (max-width: 834px) {
    /* .register_ok{
        margin-top: 300px;
    }
    .register_form_container{
        margin-top: 300px; 
    }
    .form_container {
        margin-top: 300px; 
    } */
}

@media screen and (max-width: 390px) {

.register_form_container {
        width: 100%;
        margin-top: 200px;

    }

    .flex_container {
        flex-direction: column;
        gap: 10px;


    }

    .register_form_container p {
        margin-bottom: 2px;
    }

    .input_container {
        width: 90%;
    }

    .register_ok {
        width: 300px;
    }

    .register_ok h1 {
        font-size: 34px;
    }
}