:root {
    --primary-color: rgba(10, 235, 140, 1);
    --secondary-color: rgba(210, 255, 236, 1);
    --header-color: rgba(5, 42, 45, 1);
    --fotter-color: rgba(21, 24, 23, 1);
    --body-color: rgba(32, 31, 34, 1);
    --input-grey: rgba(206, 206, 206, 1);
    --grey-button: rgba(58, 57, 62, 1);
    --dash-color: rgba(238, 234, 234, 1);
}

* {
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}


body{
    width: 100%;
    height: 100%;
    margin-left: 0;
    margin-top: 0;
    background-color:var(--dash-color) ;
}

.header_container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    background-color: var(--header-color);
    height: 64px;
    z-index: 100;
}

.footer_container {
    /* position: absolute; */
    bottom: 0;
    padding: 10px 15px;
    background-color: var(--fotter-color);
    height: 64px;
    width: 100%;
    color: var(--primary-color);
}

.footer_container h3 {
    font-weight: 100;
    font-size: 14px;
}

.navbar_container{
    height: 90vh;
    width: 270px;
    background-color: var(--primary-color);
    padding: 25px;
}

.links_container{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.links_container span {
    color: black;
    font-weight: 400;
}

.link {
    text-decoration: none;
}

.link_dashboard{
    text-decoration: none;
    color: var(--dash-color);
}

.link:focus span{
    font-weight: 600;
}
.link:hover span{
    font-weight: 600;
}

.avatar_logo{
    background-color: var(--primary-color);
    padding: 5px;
    display:inline-block;
    border-radius: 3px;
}

.avatar_container{
    display: flex;
    align-items: center;
    gap: 10px;
}

.avatar_container p{
    color: white;
}

.container_initialPage{
    position: absolute;
    top: 100px;
    left: 350px;
    right: 5%;
    bottom: 20px;
    max-width: 1000px;
}

.container_section{
    background-color: var(--header-color);
    border-radius: 8px;
    box-shadow: 4px 3px 12px -5px rgba(0,0,0,0.48);
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
}

.section_link{
    display: flex;
    justify-content: end;
    gap: 20px;
}

.container_section h4{
    color: white;
    font-weight: 500;
}

.container_section h2{
    color: white;
    border: solid 2px var(--primary-color);
    border-radius: 25px;
    padding: 5px 15px;
    max-width: 200px;
    margin-top: 0;
    margin-left: -10px;
}

.container_service{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    gap: 20px;
}
.button_service{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    border-radius: 8px;
    box-shadow: 4px 3px 12px -5px rgba(0,0,0,0.28);
    width: 100%;
    height: 100px;
}

.button_link{
    color: black;
    text-decoration: none;
    font-weight:500;
    font-size: 20px;
}
.container_search{
    margin-top: 20px;
    height: 50px;
    width: 100%;
    border-radius: 8px;
    box-shadow: 4px 3px 12px -5px rgba(0,0,0,0.28);
    padding: 0px 20px;
    display: flex;
    align-items: center;
    background-color: white;
    color: grey;
    gap: 3px;
}

.container_search input{
    width: 100%;
    outline: none;
}

.container_activity{
    background-color: white;
    padding: 20px 35px;
    margin-top: 20px;
    border-radius: 8px;
    box-shadow: 4px 3px 12px -5px rgba(0,0,0,0.28);
}

.container_activity hr{
    border: 1px solid var(--input-grey);
}

.card_activity{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.card_container{
    display: flex;
    align-items: center;
    gap: 15px;
}

.card_container h5{
    color: grey;
}
.circle_activity{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: var(--primary-color);
}

.div_price{
    display: flex;
    flex-direction: column;
    align-items:end;
}

.div_price h5{
    margin: 0;
}
.div_price h6{
    color: grey;
    margin: 0;
}

.div_arrow{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container_perfil{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.card_perfil{
    display: flex;
}
.card_perfil label{
    width: 200px;
}
.card_input{
    display: flex;
    justify-content: space-between;
    width: 100%;
    color: grey;
}

.container_gestion{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 120px;
    background-color: var(--primary-color);
    padding: 30px;
    border-radius: 8px;
    margin-top: 20px;
    box-shadow: 4px 3px 12px -5px rgba(0,0,0,0.48);
}

.container_alias{
    box-shadow: 4px 3px 12px -5px rgba(0,0,0,0.48);
    background-color: var(--header-color);
    border-radius: 8px;
    color: white;
    padding: 20px 30px 10px;
    margin-top: 20px;
}
.card_alias {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.card_alias h3{
    color: var(--primary-color);
    margin: 0;
}
.card_alias p{
    margin: 0;
}

.container_newcard{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.div_newcard{
    display: flex;
    align-items: center;
    gap: 15px;
}

.add_newcard{
    font-size: 25px;
    color: var(--primary-color);
    border: solid 1px var(--primary-color);
    padding: 0px 10px;
    border-radius: 50%;
}

.div_price button{
    background-color: transparent;
    font-weight: 600;
    cursor: pointer;
}

.container_newCard{
    position: absolute;
    top: 100px;
    left: 350px;
    right: 5%;
    bottom: 20px;
    max-width: 1000px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 4px 3px 12px -5px rgba(0,0,0,0.28);
    padding: 60px 40px;
    height: 550px;
}

.form_newCard{
    display: flex;
    justify-content: space-evenly;
    align-items: start;
    margin-top: 30px;
}
.div_newCard{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.div_newCard input{
    box-shadow: 4px 3px 12px -5px rgba(0,0,0,0.28);
    padding: 15px;
    width: 350px;
    border-radius: 8px;
    border: 1px solid var(--secondary-color);
}
.div_newCard button{
    padding: 17px;
    border-radius: 8px;
    font-weight: 600;
    box-shadow: 3px 3px 8px -4px rgba(0,0,0,0.38);
}

.container_filter{
    display: flex;
    align-items: center;
    width: 100%;
    gap: 20px;
}

.container_filterButton{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    margin-top: 20px;
    height: 50px;
    border-radius: 8px;
    box-shadow: 4px 3px 12px -5px rgba(0,0,0,0.28);
    padding: 0px 20px;
    gap: 20px;

}

.container_filter_search{
    margin-top: 20px;
    height: 50px;
    width: 100%;
    border-radius: 8px;
    box-shadow: 4px 3px 12px -5px rgba(0,0,0,0.28);
    padding: 0px 20px;
    display: flex;
    align-items: center;
    background-color: white;
    color: grey;
    gap: 3px;
}

.container_filter_search input{
    width: 100%;
    outline: none;
}

.container_filter_section{

}

.container_select{
    position: absolute;
    top: 90px;
    right: 0px;
    background-color: rgba(238, 234, 234, 1);
    border-radius: 8px;
    box-shadow: 4px 3px 12px -5px rgba(0,0,0,0.28);
    width: 330px;
    padding: 10px 20px 25px;
}

.filter_header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.filter_header_div{
    display: flex;
    align-items: center;
    gap: 5px;
}

.form_filter{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.form_filter label{
    font-weight: 300;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form_filter button{
    background-color: var(--primary-color);
    padding: 5px;
    border-radius: 8px;
    box-shadow: 4px 3px 12px -5px rgba(0,0,0,0.28);
}

.div_transfer{
    display: flex;
    align-items: center;
    gap: 15px;
    height: 90px;
    font-size: 26px;
    color: var(--primary-color);
}

.select_card_button{
    text-decoration: none;
    background-color: var(--primary-color);
    padding: 10px 50px;
    border-radius: 5px;
    box-shadow: 4px 3px 12px -5px rgba(0,0,0,0.28);
    color: black;
}